<ion-content>
  <form action="" class="login-form" name="login">
    <h1>LOGIN</h1>
    <div class="txtb">
      <ion-input
        type="text"
        name="login"
        placeholder="E-mail"
        [(ngModel)]="email"
        ><span></span
      ></ion-input>
    </div>
    <div class="txtb">
      <ion-input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
      >
        <span></span>
      </ion-input>
    </div>
    <input
      type="submit"
      class="logbtn"
      value="ENTRAR"
      (click)="loginUsuario()"
    />

    <div class="bottom-text">
      Não tem conta?
      <ion-router-link href="cadastro">Cadastre-se</ion-router-link>
    </div>

    <div class="bottom-text">
      <ion-router-link href="esqueciSenha">Esqueci minha senha</ion-router-link>
    </div>
  </form>
</ion-content>
