<ion-content>
  <form action="" class="login-form" name="cadastro">
    <h1>CADASTRO</h1>
    <div class="txtb">
      <ion-input
        type="text"
        name="login"
        placeholder="E-mail"
        [(ngModel)]="email"
        ><span></span
      ></ion-input>
    </div>
    <div class="txtb">
      <ion-input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
      >
        <span></span>
      </ion-input>
    </div>
    <input
      type="submit"
      class="logbtn"
      value="CADASTRAR"
      (click)="cadastrarUsuario()"
    />
  </form>
</ion-content>
