<ion-content>
  <div class="login-box">
    <form action="" class="login-form" name="loginForm">
      <h1>Cadastro</h1>
      <div class="textbox">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input
            name="login"
            type="text"
            placeholder="Email"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>
      </div>
      <div class="textbox">
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            name="senha"
            type="password"
            placeholder="Senha"
            [(ngModel)]="password"
          ></ion-input>
        </ion-item>
      </div>

      <ion-button
        color="secundary"
        type="submit"
        class="btn"
        (click)="cadastrarUsuario()"
      >
        <ion-icon name="person-add-outline"></ion-icon>
        Cadastrar
      </ion-button>
    </form>

    <!--
    <div class="bottom-text">
      Não tem conta?
      <ion-router-link href="cadastro">Cadastre-se.</ion-router-link>
    </div>
    <div class="bottom-text">
      <ion-router-link href="cadastro">Esqueci minh senha.</ion-router-link>
    </div>
    -->
  </div>
</ion-content>
